<div class="education fill">
    <div class="section-header">
        <h2>Education</h2>
    </div>

    <div class="education-wrapper">

        <div class="education-box">
            <div class="img-wrapper">
                <img src="/assets/uiuc-logo.jpg">
            </div>
            <div class="desc-wrapper">
            <h3>University of Illinois Urbana-Champaign</h3>
            <p>2023 - Present</p>
            <p>Master of Computer Science</p>
            </div>
        </div>
        <div class="education-box">
            <div class="img-wrapper">
                <img src="/assets/diving_eagle_logo.png">
            </div>
            <div class="desc-wrapper">
            <h3>University of North Texas</h3>
            <p>2015-2018</p>
            <p>Bachelor of Science, Computer Science</p>
            </div>
        </div>

    </div>
</div>