@import '../../colors.less';

.education {
    margin-top: 5rem;
    * {
        color: @color-5;
        font-size: .8rem;
    }

    div.section-header {
        position: relative;
        height: 5rem;

        h2 {
            font-size: 1rem;
            position: absolute;
            left: 40%;
            transform: translateX(-50%);
        }
    }

    .education-wrapper {
        display: flex;
        flex-direction: column;
    }

    .education-box:not(:first-child) {
        margin-top: 2rem;
    }
    .education-box {
        width: 80%;
        margin:auto;
        background-color: @color-2;

        display: flex;
        flex-direction: row;
    }

    .img-wrapper {
        width: 20%;
        img {
            object-fit: contain;
            width: 100%;
        }
    }
    .desc-wrapper {
        flex: 1;
        margin-left: 1rem;
    }
    img {
        height: 100%;
        object-fit: contain;
    }
}