@import '../../colors.less';

// TODO: figure out dynamically generated fall keyframes
@keyframes fall-1{
    0% {
        transform: translateY(-2rem);
    }
    20% {
        transform: translateY(2.4rem);
    }
    60% {
        transform: translateY(2.4rem);
    }
    80% {
        transform: translateY(-2rem);
    }
}
@keyframes fall-2{
    0% {
        transform: translateY(-2rem);
    }
    20% {
        transform: translateY(1.8rem);
    }
    60% {
        transform: translateY(1.8rem);
    }
    80% {
        transform: translateY(-2rem);
    }
}
@keyframes fall-3{
    0% {
        transform: translateY(-2rem);
    }
    20% {
        transform: translateY(1.2rem);
    }
    60% {
        transform: translateY(1.2rem);
    }
    80% {
        transform: translateY(-2rem);
    }
}

.arrows {
    position: absolute;
    bottom: 2rem;
    left: 40%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    span {
        transform: translateX(calc(-100% - 1rem));
        color: @color-5;
    }
}

// TODO: figure out dynamically generated rules for nth of type
.arrow-container {
    transform: translateY(-2rem);
    animation: 4s fall infinite;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(.51,1.1,.58,1);
}
.arrow-container:nth-of-type(1) {
    animation-name: fall-1;
    animation-delay: 3.6s;
}
.arrow-container:nth-of-type(2) {
    animation-name: fall-2;
    animation-delay: 3.4s;
}
.arrow-container:nth-of-type(3) {
    animation-name: fall-3;
    animation-delay: 3.2s;
}

// TODO: figure out dynamically generated rules for nth of type
.down-arrow {
    border: solid @color-5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translateY(1rem);
    -webkit-transform: rotate(45deg);
}
.down-arrow:nth-of-type(1) {
    animation-delay: .2s;
}
.down-arrow:nth-of-type(2) {
    animation-delay: .4s;
}
.down-arrow:nth-of-type(3) {
    animation-delay: .6s;
}