<div class="arrows">
    <div class="arrow-container"> <i class="down-arrow"></i> </div>
    <div class="arrow-container"> <i class="down-arrow"></i> </div>
    <div class="arrow-container"> <i class="down-arrow"></i> </div>
</div>