<div class="social">
    <a href="https://linkedin.com/in/benjaminsivoravong" target="_blank">
        <img src="/assets/linkedin.png">
    </a>
    <a href="https://gitlab.com/bensivo" target="_blank">
        <img src="/assets/gitlab.png">
    </a>
    <a href="https://github.com/bensivo" target="_blank">
        <img class="github" src="/assets/github.png">
    </a>
</div>