.social {
    margin: 1rem;
    text-align: right;

    a {
        margin-left: 1rem;
    }
    img {
        width: 1.5rem;
        filter: grayscale(100%);
        transition-duration: 1s;
    }
    img:hover {
        cursor: pointer;
        filter: none;
        transition-duration: 1s;
    }

    // The github logo has a transparent background, but to make it stick out we add white / grey
    img:hover.github {
        background-color: white;
        border-radius: 1rem;
        border: 1px solid white;
    }
    img.github {
        background-color: grey;
        border-radius: 1rem;
        border: 1px solid grey;
    }
}
