@import '../../colors.less';

#timeline {
    flex: 1;
    position: relative;
    height: 100%;
    overflow-y : hidden;
    display: flex;
    flex-direction: column;

    .timeline-header {
        position: relative;
        height: fit-content;
        text-align: center;
        height: 3rem;
    }
    .timeline-body {
       flex: 1; 
    }

    label {
        position:absolute;
        left: 40%;
        top: 50%;
        transform: translateX(-50%);
        color: @color-5;
    }

    ul.timeline-list {
        height: 100%;
        padding: 0;
        list-style-type: none;
    }

    ul.timeline-list::before {
        content: '';
        border: 1px solid @color-5;
        height: 100%;

        position: absolute;
        left: 40%;
        z-index: -1;
    }
}
