<div id="timeline">
    <div class="timeline-header">
        <label>Work Experience</label>
    </div>
    <div class="timeline-body">
        <ul class="timeline-list">
            <app-timeline-element *ngFor="let data of timelineElements" [data]="data"></app-timeline-element>
        </ul>
    </div>
</div>