@import '../../colors.less';

.projects {
    margin-bottom: 1rem;
    * {
        color: @color-5;
        font-size: .8rem;
    }

    div.section-header {
        position: relative;
        height: 5rem;

        h2 {
            font-size: 1rem;
            position: absolute;
            left: 40%;
            transform: translateX(-50%);
        }
    }

    h3 {
        font-size: 1rem;
    }
}

a {
    max-width: 80%;
    text-decoration-line: none;
    background-color: @color-2;
    padding: 1rem;
    margin: auto;
    // margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: row-reverse;


    &,
    * {
        transition: linear;
        transition-duration: .5s;
    }

    .section-image {
        width: 40%;
        padding: 1rem;

        img {
            max-height: 100%;
            width: 100%;
            object-fit: contain;
            text-align: center;

            opacity: .6;
        }
    }

    .section-text {
        width: 60%;
        padding: 1rem;
    }

    ;
}

a:hover {
    background-color: lighten(@color-2, 10%);

    &,
    * {
        transition: linear;
        transition-duration: .5s;
    }

    .section-image {
        img {
            opacity: 1;
        }
    }
}

section:not(:first-of-type) {
    margin-top: 1rem;
}