<div class="projects fill">
    <div class="section-header">
        <h2>Featured Projects</h2>
    </div>

    <section *ngFor="let project of projects">
        <a [href]="project.link" target="_blank">
            <div class="section-text">
                <h3>{{project.title}}</h3>
                <span>{{project.description}}</span>
            </div>
            <div class="section-image center-parent">
                <img [src]="project.image">
            </div>
        </a>
    </section>
</div>