@import '../../colors.less';

.interests {
    margin-top: 5rem;
    * {
        color: @color-5;
        font-size: .8rem;
    }

    div.section-header {
        position: relative;
        height: 5rem;

        h2 {
            font-size: 1rem;
            position: absolute;
            left: 40%;
            transform: translateX(-50%);
        }
    }

    .skill-wrapper {
        display: flex;
        flex-direction: column;
    }

    .skill-box:not(:first-child) {
        margin-top: 2rem;
    }
    .skill-box {
        width: 80%;
        margin: auto;
        background-color: @color-2;
    }

    .skill-content {
        margin: 1rem;
    }


    h3 {
        font-size: 1rem;
    }
}