<div class="interests fill">
    <div class="section-header">
        <h2>Skills and Interests </h2>
    </div>

    <div class="skill-wrapper">
        <div class="skill-box">
            <div class="skill-content">
                <h3>Full-Stack Development</h3>
                <p>Favorites: Angular, Typescript, Golang, Docker</p>
                <p>Also have experience in: React, Java, Spring Boot, Python</p>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-content">
                <h3>CI/CD and Infrastructure</h3>
                <p>Favorites: Gitlab CI, Kubernetes, AWS, Azure, Bash</p>
                <p>Also have experience in: Azure Devops, GCP, On-Prem Data Center Management, Bash, Python</p>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-content">
                <h3>Architecture</h3>
                <p>Favorites: Event-Driven Architecture, Web-based microservices, IoT systems, ML and Big-Data systems</p>
                <p>Also have experience in: VM-based microservices, AWS Cloud-Native</p>
            </div>
        </div>

        <div class="skill-box">
            <div class="skill-content">
                <h3>Hobbies</h3>
                <p>Rock climbing, Coding (of course), Cooking, Learning</p>
            </div>
        </div>
    </div>
</div>