#layout-container {
    display: flex;
    flex-direction: row;

    min-height: 100vh;

    .layout-left {
        position: relative;
        width: 50%;

        display: flex;
        flex-direction: column;
    }

    .layout-right {
        flex: 1;
    }
}

.greeting-container {
    height: 100vh;
}

app-social {
    position: absolute;
    top: 0;
    right: 0;
}

@media(max-width: 1024px) {
    #layout-container {
        flex-direction: column;

        .layout-left {
            width: 100%;
            min-height: 20rem;
        }
        .layout-right {
            width: 100%;
        }
    }

    .projects-container, .interests-container {
        margin-bottom: 10rem;
    }
}
