<div id="layout-container">
    <div class="layout-left">
        <div class="greeting-container center-parent">
            <app-greeting></app-greeting>
            <app-falling-arrows></app-falling-arrows>
        </div>
        <div class="projects-container center-parent">
            <app-projects></app-projects>
        </div>
        <!-- <div class="interests-container center-parent">
            <app-interests></app-interests>
        </div> -->
        <div class="education-container center-parent">
            <app-education></app-education>
        </div>
    </div>

    <div class="layout-right">
        <app-timeline></app-timeline>
    </div>
    <app-social> </app-social>
</div>