@import '../../colors.less';

@keyframes typing {
    0% {
        border-color: transparent;
        width: 0
    }

    1% {
        border-right: .15rem solid orange;
        border-color: orange;
        width: 0
    }

    99% {
        border-right: .15rem solid orange;
        border-color: orange;
        width: 100%
    }

    100% {
        border-right: .15rem solid orange;
        border-color: transparent;
        width: 100%;
    }
}

@keyframes caret {
    50% {
        border-color: orange;
    }
}


#greetings {
    width: 70%;
    max-width: 70ch;

    * {
        color: @color-5;
    }

    .typewriter-parent {
        margin-top: .5rem;
    }

    .typewriter {
        white-space: nowrap;
        overflow: hidden;
        width: 0%;

        animation-name: typing;
        animation-fill-mode: forwards;
    }

    .top-text {
        display: block;
        width: 10ch; // num of characters in the block

        .typewriter {
            animation-delay: 0s; // (time to finish previous animations) + .2s pause between blocks
            animation-duration: 0.5s; // (num characters in block) / (20 char per second)
            animation-timing-function: steps(10, end);
        }
    }

    .center-text {
        display: block;
        font-size: 2em;
        margin-left: 2rem;
        width: 20ch;

        .typewriter {
            animation-delay: 0.7s;
            animation-duration: 1s;
            animation-timing-function: steps(19, end);
        }
    }

    .bottom-text {
        display: block;
        float: right;
        width: 44ch;
        margin-left: 10rem;


        .typewriter {
            animation-delay: 1.9s;
            animation-duration: 2.2s;
            animation-timing-function: steps(44, end);
        }
    }



    .caret-parent {
        position: relative;
    }

    .caret {
        position: absolute;
        right: -.5rem;
        top: 0;

        height: 100%;

        border-right: .15em solid orange;
        border-color: transparent;

        animation: caret 1s steps(1, start) infinite;

        // NOTE: this caret animation only takes over once the scrolling-caret finishes in the rest of the text
        animation-delay: 4.4s;
    }
}

@media(max-width: 700px) {
    #greetings {
        width: fit-content;

        display: flex;
        justify-content: center;
        flex-direction: column;

        div.top-text {
            margin: 0;
        }

        div.center-text {
            margin: 1rem 0 0 0;
        }

        div.bottom-text {
            margin: 1rem 0 0 0;
            float: none;
        }
    }
}

@media(max-width: 425px) {
    #greetings {
        .top-text {
            font-size: .8rem;
        }

        .center-text {
            font-size: 1.5rem;
        }

        .bottom-text {
            font-size: .8rem;
            width: 24ch;

            .typewriter {
                animation-delay: 1.9s;
                animation-duration: 1.1s;
                animation-timing-function: steps(24, end);
            }
        }

        .caret {
            animation-delay: 3s;
        }
    }
}

