<div id="greetings" class="center">
    <div class="top-text typewriter-parent">
        <div class="typewriter">
            Hello, I'm
        </div>
    </div>

    <div class="center-text typewriter-parent">
        <div class="typewriter">
            Benjamin Sivoravong.
        </div>
    </div>

    <div class="bottom-text typewriter-parent caret-parent">
        <div class="typewriter hide-on-mobile">
            I'm a software developer based in Dallas, TX
        </div>
        <div class="typewriter show-on-mobile">
            I'm a software developer
        </div>
        <div class="caret"></div>
    </div>
</div>