<li class="timeline-element">
    <div class="timeline-left">
        <h3>
            {{data.employer}}
        </h3>
    </div>
    <div class="timeline-right">
        <span>
            {{data.from}} - {{data.to}}
        </span>
        <ul class="timeline-element-description">
            <li *ngFor="let desc of data.descriptions">{{desc}}</li>
            <li class="tech-list"> 
                {{data.technologies.join(', ')}}
            </li>
        </ul>
    </div>
</li>