@import '../../colors.less';

li.timeline-element {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;

    .timeline-left {
        width: 40%;

    }

    .timeline-right {
        width: 60%;

    }

    h3 {
        float: right;
        width: fit-content;
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem;

        white-space: nowrap;
        background-color: @color-2;
        color: @color-5;

        transition: linear;
        transition-duration: .5s;
    }

    span {
        margin-left: 1rem;
        font-size: .8rem;
        color: @color-5;

        transition: linear;
        transition-duration: .5s;
    }

    ul.timeline-element-description {
        margin-right: 1rem;
        font-size: .8rem;

        li {
            margin-top: 1rem;

            color: @color-5;
            transition: linear;
            transition-duration: .5s;
        }


        .tech-list {
            color: @color-6;
            list-style-type: none;

            transition: linear;
            transition-duration: .5s;
        }
    }
}

li.timeline-element:hover {
    * {
        transition: linear;
        transition-duration: .5s;
    }

    h3 {

        color: lighten(@color-5, 20%);
        background-color: lighten(@color-2, 10%);
    }
    span
    {
        color: lighten(@color-5, 20%);
    }

    ul {
        li {
            color: lighten(@color-5, 20%);
        }
        .tech-list {
            color: lighten(@color-6, 20%);
        }
    }
}

@media(max-width: 700px) {
    li.timeline-element {
        h3 {
        white-space: normal;
        }
    }
}