/* You can add global styles to this file, and also import other style files */

@import './colors.less';

body {
    background-color: @color-1;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;

    font-family: 'IBM Plex Mono', monospace;
}

.center-parent {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fill {
    width: 100%;
    height: 100%;
}


.hide-on-mobile {
    display: inherit;
}

.show-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: none;
}

@media(max-width: 1024px) {
    .hide-on-desktop {
        display: inherit;
    }
}

@media(max-width: 700px) {
    .hide-on-mobile {
        display: inherit;
    }

    .show-on-mobile {
        display: none;
    }
}

@media(max-width: 425px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: inherit;
    }
}